/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

* {
  box-sizing: border-box;
}

html {
  /* To make 1rem == 10px */
  font-size: 62.5%;
}

body {
  color: #293c4b;
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
  text-align: center;
}

/* Header */
header {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  font-size: 1.6rem;
  height: 100px;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  width: 100%;
}

.logo {
  height: 51px;
  object-fit: contain;
  width: 245px;
}

.nav-link-wrapper {
  position: relative;
}

.lang-toggle {
  position: fixed;
  width: 83px;
  height: 24px;
  top: 0;
  right: 239px;
  background: #01403A;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang-toggle a {
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: none;
  color: #C4C4C4;
}

.lang-toggle a:nth-child(1) {
  margin-right: 0.6rem;
}
.lang-toggle a:nth-child(2) {
  margin-left: 0.6rem;
}
.lang-toggle a:hover,
.lang-toggle a:focus,
.lang-toggle a.selected {
  color: #ffffff;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link a {
  margin-left: 16px;
  text-decoration: none;
  color: #01403A;
}

.nav-link > a:hover,
.nav-link > a:focus,
.nav-link > a.selected {
  opacity: 0.7;
}

.nav-link a.fb-logo {
  margin-left: 32px;
}

a.hamburger {
  display: none;
  margin-left: 10rem;
}


a.consult-btn {
  align-items: center;
  background: #D94A3D;
  border-radius: 54px;
  color: #ffffff;
  display: flex;
  font-size: 1.6rem;
  height: 36px;
  justify-content: center;
  margin-left: 0;
  text-decoration: none;
  width: 120px;
}

.mailBtn {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 20;
}

.mailBtn > a {
  width: 100%;
  height: 100%;
}

.mailBtn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

footer {
  background: #D94A3D;
  height: 200px;
  padding: 33px 0 32px 240px;
}

.footer-info {
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 20px;
  max-width: 960px;
  text-align: left;
}

.footer-info > figure {
  margin-bottom: 9px;
}

.footer-logo {
  max-width: 245px;
}

.about-us-email {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.about-us-address {
  font-size: 1.6rem;
  /* margin-bottom: 36px; */
}

.footer-info > .consult-btn {
  background: #ffffff;
  border-radius: 100px;
  color: #011F26;
  width: 126px;
}

section {
  margin: auto;
  max-width: 960px;
  width: 100%;
}

.top {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 82px;
  text-align: left;
}

.hero-description {
  position: relative;
  width: 540px;
  z-index: 1;
}

.hero-description > h2 {
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 0;
  margin-bottom: 24px;
  padding: 0;
  white-space: nowrap;
}

.top-title {
  color: #011F26;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 48px;
  margin-bottom: 16px;
}

.top-mobile-title {
  color: #011F26;
  display: none;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 48px;
  margin-bottom: 16px;
}

.hero-description > p {
  color: #636363;
  font-size: 1.6rem;
  letter-spacing: 1.1px;
  line-height: 18px;
  margin-bottom: 4.2rem;
}

.hero-description > p > em {
  color: #636363;
  font-size: 2.4rem;
  margin-left: 6px;
  margin-right: 6px;
}

.top-section-action-container {
  display: flex;
}

.top-section-action-container > .know-more-btn {
  margin-left: 10px;
}

.know-more-btn {
  align-items: center;
  background: #ffffff;
  border: 1px solid #011F26;
  border-radius: 54px;
  color: #011F26;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  width: 100px;
}

.know-more-btn:hover {
  opacity: 0.7;
}

.consult-btn:hover {
  opacity: 0.7;
}

.hero-img {
  position: relative;
  width: 421px;
  z-index: 0;
}

.jp-top {
  width: 100%;
  max-width: 100%;
  height: 623px;
  background-image: url('/assets/images/jp-top.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.jp-top:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.jp-top-description {
  width: 612px;
  height: 185px;
  background: rgba(18, 20, 26, 0.6);
  padding: 24px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.jp-top-description > h2 {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.4rem;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 2.4rem;
}

.jp-top-description > h1 {
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 4.8rem;
  color: #FFFFFF;
  text-align:left;
}

.introduction-background-wrapper {
  background: #FFF6F4;
}

.introduction {
  padding-top: 80px;
  padding-bottom: 86px;
  text-align: left;
}

.introduction > h2 {
  color: #011F26;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 32px;
}

.crd-introduction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 115px;
}

.crd-introduction-description {
  font-size: 1.6rem;
  line-height: 28px;
  width: 466px;
}

.crd-introduction-description > p:first-child {
  margin-bottom: 40px;
}

.success-crd {
  display: flex;
  justify-content: space-between;

}

.story-item {
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 42px;
  position: relative;
  text-decoration: none;
  width: 300px;
}

.service {
  padding-top: 40px;
}

.section-title {
  color: #011F26;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.service-content-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.service-content-item {
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  height: 400px;
  padding: 40px 24px 29px;
  text-align: left;
  width: 307px;
}

.service-content-item > h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 41px;
}

.service-content-item  > figure {
  height: 140px;
  margin-bottom: 21px;
  text-align: center;
}

.service-content-item > p {
  color: #636363;
  font-size: 1.4rem;
  line-height: 28px;
  margin-left: auto;
  margin-right: auto;
}

.faq {
  margin-bottom: 16px;
}

.faq-container {
  border: 1px solid #ECECEC;
  font-size: 1.6rem;
  padding: 56px 18px 24px 18px;
  text-align: left;
}

.faq-question {
  color:#011F26;
  font-weight: bold;
  margin-bottom: 10px;
}

.faq-answer {
  color: #636363;
  margin-bottom: 32px;
}

.article {
  padding-top: 80px;
}

.article > .know-more-btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 82px;
}

.article-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.link-container {
  text-decoration: none;
}

.article-item {
  text-align: left;
  width: 305px;
}

.article-item > figure {
  height: 227px;
  margin-bottom: 10px;
}

.article-item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}


.article-item-date {
  color: #636363;
  font-size: 1.4rem;
  margin-bottom: 6px;
}

.article-item-title {
  color: #000000;
  font-size: 1.6rem;
  line-height: 19px;
}

.enterprise-register {
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  margin-bottom: 84px;
  padding: 40px;
  text-align: left;
}

.enterprise-register-description > h2 {
  color: #011F26;
  font-size: 3rem;
  line-height: 36px;
  margin-bottom: 32px;
}

.enterprise-register-description > p {
  color: #000000;
  font-size: 1.6rem;
  line-height: 28px;
}

.enterprise-register-description p.last-line {
  margin-top: 30px;
  margin-bottom: 32px;
}

.enterprise-register-description > a.consult-btn {
  width: 140px;
}

#jp-enterprise-register-paragraph {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #636363;
  margin-bottom: 60px;
}

.team {
  background-image: url('/assets/images/team-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  height: 678px;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 42px;
  position: relative;
}

.team-description {
  background: linear-gradient(0deg, rgba(217, 74, 61, 0.8), rgba(217, 74, 61, 0.8));
  color: #FFFFFF;
  font-size: 1.6rem;
  height: 144px;
  line-height: 28px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 24px;
  text-align: left;
  width: 459px;
}

/* Success case */
#success-case {
  padding-top: 75px;
}

.mobile-flex-container {
  display: none;
}

.success-title {
  font-size: 2rem;
  margin-bottom: 50px;
  color: rgb(150, 121, 38);
}

.success-number {
  color: rgb(212, 0, 0);
  font-size: 6.4rem;
  font-weight: bold;
}
.fund-raise-link {
  text-decoration: none;
  cursor: pointer;
}
.fund-raise-image {
  height: 200px;
  margin-bottom: 15px;
  object-fit: cover;
  width: 100%;
}
.fund-raise-content {
  padding: 10px;
}

.fund-raise-title {
  color:  #D94A3D;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1.1px;
  margin-bottom: 8px;
}

.fund-raise-subtitle {
  font-size: 1.2rem;
  margin-left: 24px;
  margin-bottom: 18px;
}

.quotation-mark {
  color: #C4C4C4;
  font-size: 6rem;
}

.fund-raise-description:before {
  content: "“";
  color: #C4C4C4;
  font-family: Helvetica;
  font-size: 4rem;
  height: 36px;
  position: absolute;
  top: -5px;
  left: -5px;
}

.fund-raise-description {
  color: #333333;
  font-size: 1.4rem;
  height: 140px;
  line-height: 1.8;
  padding: 20px 20px 0 20px;
  position: relative;
}

.fund-raise-description:after {
  content: "”";
  color: #C4C4C4;
  font-family: Helvetica;
  font-size: 4rem;
  height: 36px;
  position: absolute;
  right: -5px;
}

.fund-raise-testimony {
  margin-left: 18px;
  font-size: 1.4rem;
  font-style: italic;
}

/* Team */
#team-introduction {
  width: 100%;
  height: 912px;
  background-image: url('/assets/images/team-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-content: center;
}
#team-introduction:before {
  content: '';
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.66);
  width: 100%;
  height: 100%;
}

/* Japan Insider */
#japan-insider {
  padding-top: 75px;
  padding-bottom: 50px;
}

#japan-insider .big-image {
  height: 200px;
}

.blog-text-content {
  padding: 20px 20px 40px 20px;
  position: relative;
  height: 180px;
}

.blog-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  height: 50px;
}
.blog-item-date {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.blog-item-date p {
  font-size: 1.2rem;
  color: rgb(212, 0, 0);
}

.blog-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #333333;
  padding-left: 15px;
  margin-left: 15px;
  color: rgb(150, 121, 38);
  font-size: 1.2rem;
  line-height: 1.1;
  letter-spacing: 1.2px;
}
.blog-item-description {
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: 1.3px;
  color: #333333;
}

.continue-reading {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #aaaaaa;
  font-size: 1.2rem;
  text-decoration: none;
}

.continue-reading:hover {
  color: rgb(212, 0, 0);
}



/* Media */
#market-development-description {
  width: 100%;
  height: 912px;
  background-image: url('/assets/images/market-development.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
#market-development-description:before {
  content: '';
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
}

#media {
  padding-top: 30px;
  margin-bottom: 50px;
}
.media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 65px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.media-container > figure {
  width: 18%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.media-image {
  width: 100%;
  height: 50px;
}


.jp-spirit {
  width: 100%;
  max-width: 100%;
  height: 650px;
  background-image: url('/assets/images/jp-spirit.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 100px;
}

.jp-spirit > h2 {
  font-size: 2rem;
  line-height: 23px;
  color: #011F26;
  z-index: 1;
}

.jp-spirit-content-wrapper {
  position: absolute;
  width: 804px;
  height: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background: #FFFFFF;
  opacity: 0.9;
  z-index: 1;
}

.jp-spirit-content-wrapper > h2 {
  font-weight: bold;
  font-size: 1.6rem;
  color: #636363;
  margin-bottom: 40px;
}

.jp-spirit-content-wrapper > p {
  font-size: 1.6rem;
  color: #636363;
  margin-bottom: 20px;
  line-height: 28px;
}

.jp-summary {
  width: 100%;
  max-width: 100%;
  height: 650px;
  background-image: url('/assets/images/jp-summary.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 150px;
}

.jp-summary > h2 {
  font-size: 2rem;
  line-height: 23px;
  color: #011F26;
  z-index: 1;
}

.jp-summary:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.jp-summary-content-wrapper {
  position: absolute;
  width: 796px;
  height: 248px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background: #FFFFFF;
  opacity: 0.9;
  z-index: 1;
  text-align: left;
}

.jp-summary-content-wrapper b {
  display: inline-block;
  width: 103px;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 28px;
  color: #636363;
  text-align: right;
}

.jp-summary-content-wrapper span {
  display: inline-block;
  width: 594px;
  margin-left: 19px;
  font-size: 1.6rem;
}

/* Reuse css */

/* Hide element */
.invisible {
  display: none;
}

.intro-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 242, 242);
  color: #333333;
  padding: 75px 20px;
  position: relative;
  z-index: 2;
}
/* border bottom black */
.black-border-bottom {
  border-bottom: 2px solid #333333;
}
/* Emphasis red text */
em {
  color: rgb(212, 0, 0);
}
/* Big Image */
.big-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
/* aside Title */
aside {
  position: absolute;
  z-index: 10;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: 225px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
}
/* Grid view */
.three-grid-view-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 65px;
  grid-gap: 20px;
}


.three-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  position: relative;
  background-color: white;
}

#team .three-grid-item {
  margin-bottom: 50px;
}

#team .three-grid-item img {
  width: 100%;
  height: 225px;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.three-grid-item.selected .self-introduction {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.self-introduction {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background-color: rgb(150, 121, 38, 0.8);
  padding: 30px;
  font-size: 1.6rem;
  color: white;
  letter-spacing: 1.2px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.four-grid-view-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 65px;
}


.four-grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* List view */
.list-view-container {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-view-container:after {
  content: '';
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28%;
  max-width: 240px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  border-bottom: 2px solid #333333;
  background-color: white;
  position: relative;
}

.small-list-item {
  width: 20%;
  margin-left: 25px;
  margin-right: 25px;
}

.list-item > img {
  width: 100%;
  height: 225px;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.list-item-title {
  font-size: 1.2rem;
  color: #333333;
  margin-bottom: 20px;
}
.list-item-description {
  font-size: 1.8rem;
  color: rgb(150, 121, 38);
  margin-bottom: 20px;
  position: relative;
}
.big-arrow {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-top: 2px solid rgb(150, 121, 38);
  border-right: 2px solid rgb(150, 121, 38);
  -webkit-transform: translate(-70%, -50%) rotate(45deg);
  -ms-transform: translate(-70%, -50%) rotate(45deg);
  transform: translate(-70%, -50%) rotate(45deg);
  position: absolute;
  top: 50%;
  right: -30px;
  cursor: pointer;
}
/* Custom list content */
.custom-list-item-title {
  font-size: 2rem;
  color: rgb(150, 121, 38);
  margin-top: 25px;
  margin-bottom: 10px;
}

.custom-list-item-description {
  font-size: 1.4rem;
  color: #333333;
  margin-bottom: 25px;
  letter-spacing: 1.3px;
  line-height: 1.2;
  width: 70%;
}

.align-left {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-left: 20px;
}
.no-bottom-border {
  border-bottom: none;
}
.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* Circle Container */
.circle-container {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border-width: 2px;
  padding-top: 10px;
}
.circle-container img {
  width: 100%;
}
.big-circle {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}
.circle-item-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}
.circle-item-title {
  font-size: 1.6rem;
  color: rgb(150, 121, 38);
  margin-top: 35px;
  margin-bottom: 20px;
}
.circle-item-description {
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: 1.3px;
  color: #333333;
  margin-bottom: 25px;
}
/* Red circle container */
.success-circle-container {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: rgb(212, 0, 0);
}
.red-background {
  background-color: rgb(212, 0, 0);
  color: white
}
.small-font-size {
  margin-top: 15px;
  font-size: 1.6rem;
}
/* Yellow Border */
.yellow-border {
  border-color: rgb(150, 121, 38);
  border: 1px solid rgb(150, 121, 38);
}
/* White Background */
.white-background {
  background: white;
}

/* Red bottom border */
.red-bottome-border {
  border-bottom: 2px solid rgb(212, 0, 0);
}
/* Box Shadow of List Item*/
.list-item-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
/* Floating title */
.float-title {
  margin: auto;
  z-index: 10;
  color: #333333;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.float-title h2 {
  line-height: 1.7;
}
/* Promoting title */
.promoting-title {
  line-height: 1.7;
  margin-top: 50px;
}
.partner-title {
  line-height: 1.7;
  margin-top: 50px;
  width: 80%;
}

#amazon-link {
  width: 180px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(212, 0, 0);
  font-size: 1.2rem;
  padding: 1rem;
  text-decoration: none;
  color: white;
  margin-left: 20px;
  letter-spacing: 1.1px;
}


/* Carousel */
div.carousel {
  margin: 60px auto;
  position: relative;
}

div.carousel>div.prev,
div.carousel>div.next {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 40px;
  height: 100%;
  cursor: pointer;
}

div.carousel>div.prev {
  left: 25px;
}

div.carousel>div.prev>.arrow-left {
  height: 20px;
  width: 20px;
  border-top: 2px solid #aaaaaa;
  border-right: 2px solid #aaaaaa;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-20%, -50%) rotate(225deg);
  -ms-transform: translate(-20%, -50%) rotate(225deg);
  transform: translate(-20%, -50%) rotate(225deg);
}

div.carousel>div.next {
  right: 25px;
}

div.carousel>div.next>.arrow-right {
  height: 20px;
  width: 20px;
  border-top: 2px solid #aaaaaa;
  border-right: 2px solid #aaaaaa;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-70%, -50%) rotate(45deg);
  -ms-transform: translate(-70%, -50%) rotate(45deg);
  transform: translate(-70%, -50%) rotate(45deg);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  height: 500px;
  max-width: 100%;
}

li {
  min-width: 100%;
  /* max-width: 1000px; */
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  pointer-events: none;
}

li.visible {
  opacity: 1;
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  pointer-events: auto;
}

li>img {
  display: block;
  width: 100%;
  height: 100%;
}
/* Carousel */

/* Mobile List View */
.mobile-list-container {
  display: none;
}

/* Tablet */
@media screen and (max-width: 768px) {

  section {
    padding-left: 16px;
    padding-right: 16px;
  }

  .top {
    justify-content: flex-start;
  }

  .hero-img {
    position: absolute;
    right: 32px;
    width: 238px;
  }

  .story-item {
    width: 200px;
  }

  .fund-raise-title {
    padding-left: 24px;
  }

  .fund-raise-content {
    padding-bottom: 20px;
  }

  .service-content-container {
    margin-bottom: 80px;
  }

  .service-content-item {
    width: 200px;
  }

  .service-content-item > figure {
    margin-bottom: 0;
  }

  .service-content-item img {
    max-width: 100%;
  }

  .article-item {
    width: 224px;
  }

  .team {
    height: 452px;
    padding-bottom: 0;
  }

  .team-description {
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
  }

  footer {
    padding-left: 34px;
  }
}

/* Mobile */
@media screen and (max-width: 540px) {

  header {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    height: 60px;
  }

  .logo {
    height: 40px;
  }

  nav {
    justify-content: center;
  }

  .nav-link {
    display: none;
  }

  .top {
    align-items: center;
    flex-direction: column-reverse;
    padding-top: 115px;
  }

  .hero-description {
    width: 100%;
  }

  .hero-description > h2 {
    line-height: 24px;
    white-space: normal;
  }

  .hero-description > p {
    line-height: 24px;
  }

  .top-title {
    display: none;
  }

  .top-mobile-title {
    display: block;
  }

  .hero-img {
    position: relative;
  }

  .top-section-action-container {
    justify-content: center;
  }

  .introduction {
    padding-top: 40px;
  }

  .crd-introduction {
    align-items: center;
    flex-direction: column;
    margin-bottom: 61px;
  }

  .crd-introduction img {
    max-width: 100%;
  }

  .crd-introduction-description {
    margin-bottom: 19px;
    width: 100%;
  }

  .success-crd {
    align-items: center;
    flex-direction: column;
  }

  .story-item {
    margin-bottom: 24px;
    width: 100%;
  }

  .fund-raise-title {
    padding-left: 0;
  }

  .fund-raise-description {
    margin-bottom: 0;
  }

  .service-content-container {
    align-items: center;
    flex-direction: column;
  }

  .service-content-item {
    margin-bottom: 24px;
    width: 100%;
  }

  .service-content-item > figure {
    margin-bottom: 10px;
  }

  .faq-answer {
    line-height: 1.2;
  }

  .article-container {
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
  }

  .article-item {
    margin-bottom: 40px;
    width: 100%;
  }

  .article > .know-more-btn {
    margin-bottom: 40px;
  }

  .enterprise-register {
    align-items: center;
    flex-direction: column-reverse;
  }

  .enterprise-register > figure {
    margin-bottom: 32px;
  }

  .enterprise-register-description {
    text-align: center;
  }

  .enterprise-register-description > .consult-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .team {
    background-position: 0% 0%;
    height: 427px;
  }

  .team > .section-title {
    position: relative;
    top: -100px;
  }

  .team-description {
    height: 177px;
  }

  footer {
    padding-left: 0;
  }

  footer figure, footer p {
    margin-left: 18px;
  }

  .footer-info > .consult-btn {
    margin-left: auto;
    margin-right: auto;
  }
}