.wp-block-image {
  margin-bottom: 60px;

  img {
    max-width: 100%;
  }

}

h4 {
  font-weight: bold;
  font-size: 2.4rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

img {
  display: block;
  height: auto;
  margin: 20px auto;
  max-width: 100%;
}
