@import 'theme-colors';
@import 'custom';

html { font-size: 62.5%; }

body {
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  background-color: $themeColor-Light;
  h1, h2 {
    color: $themeColor-Dark
  }
}

h1 {
  font-size: 2.0rem;
}

/* wrapper -- page content never gets wider than this */
#wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/* header navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  a {
    text-decoration: none;
  }
  .nav-brand {
    text-transform: uppercase;
    font-size: 2.4rem;
  }
  .nav-links {
    text-transform: uppercase;
    font-size: 1.6rem;
    a {
      margin-right: 20px;
    }
  }
}

#calendar-events {
  table {
    width: 100%;
    td, th {
      text-align: left;
      &:nth-child(1) {
        width: 30%;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 30%;
      }
    }
  }
}