@import '../../node_modules/tachyons/css/tachyons.min.css';

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif; }

p,
ul,
ol {
	line-height: 1.5rem;
}

h2 {
	border-top: 4px solid black;
	padding-top: 12px;
}

a {
	font-weight: bold;
	color: black;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

ul {
	list-style: none;
	padding-left: 1.5rem;
}

li:before {
	content: "\25C6";
	padding-right: 0.5rem;
	float: left;
	margin-left: -1.5rem;
}

li {
	padding: 1rem 0;
}

svg {
	max-width: 100%;
}

.brand {
	height: 4rem;
}

.links {
	a {
		white-space: nowrap;
		margin-left: 24px;
	}

	.login {
		border-radius: 6px;

		&:hover {
			border-color: black;
			background-color: black;
			color: white;
			text-decoration: none;
		}
	}
}

.dropdown {
	height: 4rem;

	select {
		width: 90%;
	}
}

.starter-kit-logo {
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 0.75rem;
	line-height: 1rem;
	text-decoration: none;
	color: black;

	img {
		margin-right: 0.5rem;
	}
}

.intro {
	h1 {
		line-height: 36px;
	}

	.dek {
		font-size: 24px;
		line-height: 30px;
	}

	.api-info {
		line-height: 24px;
	}
}

.color-logo {
	display: flex;
	justify-content: center;

	svg path {
		fill: #5A3BEB;
		//fill: #EE185D; // pink
	}
}

.recent {
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		padding: 0.5rem 0;
	}

	li:before {
		content: unset;
		margin: 0;
		padding: 0;
	}
}

.manage {
	font-size: 18px;
	line-height: 27px;
}

.labs-footer {
	height: 16.25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
