.idea
!vendor/
vendor/*
!vendor/webonyx/
vendor/webonyx/*
!vendor/webonyx/graphql-php/
vendor/webonyx/graphql-php/*
!vendor/webonyx/graphql-php/src/
!vendor/ivome/
vendor/ivome/*
!vendor/ivome/graphql-relay-php/
vendor/ivome/graphql-relay-php/*
!vendor/ivome/graphql-relay-php/src/
!vendor/autoload.php
!vendor/composer
vendor/composer/installed.json
vendor/composer/*/
!/tests
/tests/*.suite.yml
build/
coverage/*
schema.graphql